.grid {
  margin: 0 0 auto;
  margin-left: 12px;
}

.overall-container {
  min-width: 1200px;
}

.header {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 23px;
  color: white;
  margin-left: 12px;
  display: inline-block;
  cursor: pointer;
  transition: 0.8s;
}

.header:hover {
  color: #31cadb;
}

.grid-and-legend {
  background-color: white;
}

.disabled-button {
  background-color: lightcoral;
}

.button-container {
  background-color: #011a27;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  color: whitesmoke;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Helvetica";
  height: 49px;
  background-color: #011a27;
  border-width: 0px;
  font-size: 15px;
  margin-bottom: -5px;
}

.buttonAlgo:hover {
  background-color: black;
  opacity: 0.8;
  color: white;
}

.buttons {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonWalls:hover {
  background-color: #f1c399;
  color: white;
  transform: scale(1.1);
}

.button-start {
  border-radius: 10px;
  background-color: #31cadb;
  height: 38px;
  transition: 0.8s;
  outline: none;
}

.button-start-disabled {
  transition: 0.8s;
  background-color: lightcoral;
}

.button-start:hover {
  transform: scale(1.05);
}

.button-clear:hover {
  color: #31cadb;
}

.button-clear {
  color: whitesmoke;
  transition: 0.8s;
  outline: none;
}

.button-clear-disabled {
  color: whitesmoke;
  transition: 0.8s;
  outline: none;
}

.button-clear-disabled:hover {
  color: lightcoral;
}

.legend-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-disabled:hover {
  color: lightcoral;
}
