.node {
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
  background-color: white;
  outline: 1px solid black;
  display: inline-block;
  position: relative;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.node-finish {
  background-color: lightcoral;
}

.disabledNode {
  pointer-events: none;
}

.node-start {
  background-color: lightgreen;
}

.node-visited-no-animation {
  background-color: #89dbff;
}

.node-final-path-no-animation {
  background-color: yellow;
}

.node-visited {
  animation-name: get-visited-path-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-wall {
  animation-name: isWallAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-final-path {
  animation-name: get-shortest-path-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes get-visited-path-animation {
  0% {
    /* transform: scale(0.8); */
    background-color: #7062d7;
    /* background-color: #ff8300; */
  }
  50% {
    /* transform: scale(1.2); */
    background-color: #89ffad;
  }
  100% {
    transform: scale(1);
    background-color: #89dbff;
  }
}

@keyframes get-shortest-path-animation {
  from {
    transform: scale(0.6);
    background-color: yellow;
  }

  50% {
    transform: scale(1.1);
    background-color: yellow;
  }

  to {
    transform: scale(1);
    background-color: yellow;
  }
}

@keyframes isWallAnimation {
  from {
    transform: scale(0.6);
    background-color: #011a27;
  }

  50% {
    transform: scale(1.2);
    background-color: #011a27;
  }

  to {
    transform: scale(1);
    background-color: #011a27;
  }
}
