.node {
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
  background-color: white;
  outline: 1px solid black;
  display: inline-block;
  position: relative;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.node-finish {
  background-color: lightcoral;
}

.disabledNode {
  pointer-events: none;
}

.node-start {
  background-color: lightgreen;
}

.node-visited-no-animation {
  background-color: #89dbff;
}

.node-final-path-no-animation {
  background-color: yellow;
}

.node-visited {
  animation: get-visited-path-animation 0.3s ease-in 0s 1 normal forwards;
  animation-play-state: running;
}

.node-wall {
  animation: wall-animation 0.2s ease-in 0s 1 normal forwards;
  animation-play-state: running;
}

.node-final-path {
  animation: get-shortest-path-animation 0.3s ease-in 0s 1 normal forwards;
  animation-play-state: running;
}

@keyframes get-visited-path-animation {
  0% {
    background-color: #7062d7;
  }
  50% {
    background-color: #89ffad;
  }
  100% {
    background-color: #89dbff;
  }
}

@keyframes get-shortest-path-animation {
  from {
    opacity: 0;
    background-color: yellow;
  }
  to {
    opacity: 1;
    background-color: yellow;
  }
}

@keyframes wall-animation {
  from {
    transform: scale(0.6);
    background-color: #011a27;
  }

  50% {
    transform: scale(1.2);
    background-color: #011a27;
  }

  to {
    transform: scale(1);
    background-color: #011a27;
  }
}
