.node {
    width: 25px;
    height: 25px;
    margin-bottom: -3px;
    background-color: white;
    outline: 1px solid black;
    display: inline-block;
  }

  .node-finish {
    background-color: red;
  }

  .node-start {
    background-color: green;
  }

  .node-visited {
    background-color: lightblue;
  }

  .node-wall {
    background-color: #858585;
  }

  .node-final-path {
    background-color: yellow;
  }