.drop-down-container {
  color: whitesmoke;
  font-family: "Helvetica";
  background-color: #011a27;
  height: 55px;
  outline: none;
  margin-right: 10px;
  margin-bottom: -4px;
}

.drop-down-button:hover,
.drop-down-button:active {
  background-color: #31cadb;
}

.drop-down-button-disabled:hover {
  background-color: lightcoral;
}

.drop-down-button {
  height: 100%;
  outline: none;
  border: 0px;
  background-color: #011a27;
  color: whitesmoke;
  font-family: "Helvetica";
  font-size: 15px;
  padding: 0px 20px;
  transition: 0.8s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.drop-down-button-selected {
  background-color: #31cadb;
}

.drop-down-elements-container {
  position: absolute;
  background-color: #011a27;
  margin-top: 10px;
  border-radius: 5px;
  z-index: 1000;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.drop-down-element {
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.drop-down-element-text {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-radius: 8px;
  padding-right: 8px;
}

.drop-down-element-text:hover {
  background-color: #31cadb;
}
